body {
	min-width: auto !important;
	overflow: hidden;
}

.navbar-link__text {
	margin-right: 0 !important;
}

.Root__top-container {
	grid-template-areas: "nav-bar main-view" "nav-bar now-playing-bar" !important;
}

.Root__nav-bar {
	background-color: rgb(0,0,0,0.15) !important;
	overflow-y: initial !important;
	width: auto !important;
}

.Root__now-playing-bar {
	background-color: rgb(0,0,0,0.15) !important;
}

.Rootlist__divider {
	border-color: #ffffff;
    opacity: 0.6;
}

.now-playing-bar-container {
	background-color: transparent !important;
	border-top: none !important;
	margin-right: 16px !important;
}

.NavBar__download-item {
	background-color: transparent !important;
}

.navBar-group-header {
	padding-right: 24px !important;
}

.RecentlyPlayedWidget__playing-icon {
	width: auto !important;
	margin-left: 5px !important;
}

.control-button--circled:after {
	border-width: 1.5px !important;
}

.ArtistAbout__insights {
	-webkit-box-flex: 2 !important;
	flex: 2 !important;
}

/* Fix flash of unstyled content in "Connect to a device" menu */
img.connect-header__image {
	height: 86px;
	/* Flip color */
	filter: invert(1);
}

/* Getting rid of matte gray */
.react-contextmenu,
.connect-device-list-container,
.connect-device-list-item,
.connect-device-list-item__icon,
.connect-device-list-item__device-subtitle {
	background-color: #ffffff !important;
	color: #000000 !important;
	font-weight: 600 !important;
}

.react-contextmenu-item,
.connect-device-list-item {
	opacity: 0.6 !important;
}

.react-contextmenu-item.active,
.react-contextmenu-item:hover,
.connect-device-list-item--active,
.connect-device-list-item:hover {
	opacity: 1 !important;
	background-color: #ffffff !important;
	color: #000000 !important;
}

.connect-title__text,
.connect-title__help {
	color: #000000 !important;
}

a.connect-title__help {
	opacity: 0.6 !important;
}

.connect-device-list-container .btn {
	color: #000000 !important;
	border: 1.5px solid #000000 !important;
	font-weight: 600 !important;
	opacity: 0.6 !important;
}

.connect-device-list-container .connect-info .btn:not(.disabled):focus,
.connect-device-list-container .connect-info .btn:not(.disabled):hover,
a.connect-title__help:hover {
	opacity: 1 !important;
	background-color: #ffffff !important;
	color: #000000 !important;
}

/* Getting rid of green */
.btn.btn-green,
.btn.btn-blue,
button._8fec0262e00c11513faad732021ed012-scss {
	background-color: transparent !important;
}

/* Playlist play button background */
button._11f5fc88e3dec7bfec55f7f49d581d78-scss {
	background-color: #000000 !important
}

/* Button borders */
.btn.btn-green,
.btn.btn-blue,
button._11f5fc88e3dec7bfec55f7f49d581d78-scss,
button._8fec0262e00c11513faad732021ed012-scss {
	border: 1.5px solid #ffffff !important;
    transition-duration: .2s !important;
    transition-timing-function: linear !important;
}

.c5e6b4072cbe57bc7ba7879658445010-scss:before {
	border-color: #ffffff !important;
}

.ConnectBar {
	background-color: #ffffff !important;
	color: #0E0E0E !important;
	font-weight: var(--glue-font-weight-bold) !important;
}

.ConnectBar:after {
	border-bottom-color: #ffffff !important;
}
.connect-device-list-container:before {
	border-top-color: #ffffff !important;
}

.control-button--active,
.control-button--active:after,
.control-button--active:hover,
.control-button--active:hover:after,
.tracklist-row--active .tracklist-col .position,
.tracklist-row--active .tracklist-col .tracklist-duration,
.tracklist-row--active .tracklist-col .tracklist-name,
.tracklist-row--active .tracklist-col .tracklist-play-pause,
.GlueDropTarget--active .ExtraControls__toggle-queue {
	color: #fff !important;
	opacity: 1 !important;
}

.navBar-link {
	opacity: 0.6 !important;
}

.navBar-link--active,
.navBar-link:hover {
	opacity: 1 !important;
}

.RootlistItem--is-drop-target-active .GlueDropTarget:after,
.GlueDropTarget--active .ExtraControls__toggle-queue:after,
.CreatePlaylistButton--is-drop-target-active:after {
	border-color: #ffffff !important;
}

.navBar-link--active:before,
.RootlistItem--is-active:before,
._137ec408b14ac4ea5aec6ded3d95f328-scss.be059487cfa7b71ee0f482c8e5be2b7e-scss:before,
._11f5fc88e3dec7bfec55f7f49d581d78-scss,
.control-button--active-dot:after {
    background-color: #ffffff !important;
}

.mo-info-name,
.UserWidget__link--is-active,
.Rootlist__playlists-header,
.RootlistItemFolder__name,
.navBar-item .GlueDropTarget--active
.navBar-item .GlueDropTarget--active:after,
svg,
.RootlistItem--is-drop-target-active .GlueDropTarget,
.RootlistItem--is-drop-target-active .GlueDropTarget:after,
.CreatePlaylistButton--is-drop-target-active:after,
.btn.btn-fg-green,
.GlueDropTarget--active .ExtraControls__toggle-queue,
.GlueDropTarget--active .ExtraControls__toggle-queue:after,
.control-button--active,
.control-button--active:not(.control-button--disabled):focus,.control-button--active:not(.control-button--disabled):hover,
.control-button--active:not(.control-button--disabled):active:focus,.control-button--active:not(.control-button--disabled):active:hover,
.GlueDropTarget--active .media-object,
.GlueDropTarget--active .media-object:after,
.link-subtle {
    color: #ffffff !important;
}

.navBar-item .GlueDropTarget--active:after,
.RootlistItem--is-drop-target-active .GlueDropTarget:after,
.CreatePlaylistButton--is-drop-target-active:after,
.GlueDropTarget--active .ExtraControls__toggle-queue:after,
.GlueDropTarget--active .media-object:after {
    border: 1px solid #ffffff !important;
}

.inputBox-input {
    caret-color: #ffffff !important;
}

.btn-transparent:hover,
.btn.btn-green:not(.disabled):hover,
.btn.btn-blue:not(.disabled):hover,
.contentSpacing > nav > ul > li > div > a:hover {
	background-color: hsla(0,0%,100%,.1) !important;
}

.feedbackBar-animation-enter,
.feedbackBar-animation-enter-active,
.feedbackBar-animation-enter-done,
.feedbackBar-animation-exit,
.feedbackBar-animation-exit-active,
.feedbackBar-animation-exit-done {
	/* Center text in feedback bar */
	text-align: center !important;
	background-color: rgba(24,24,24,.7) !important;
}

.SearchInputBox__input {
	caret-color: #ffffff !important;
}

.SearchInputBox {
	background-color: #0E0E0E !important;
}

li.tracklist-row.tracklist-row--active,
button.connect-device-list-item.connect-device-list-item--active {
	border-left: 4px white solid !important;
	margin-left: -4px !important;
}

/* Add in sessionInfo as long as it is active (active is defined a couple levels down) */

.tracklist-row--active:before,
.asideButton-container > nav > ul > li > div > a:before,
.contentSpacing > nav > ul > li > div > a:before,
.Search__content > nav > ul > li > div > a:before,
.artist-header > nav > ul > li > div > a:before,
.RecentlyPlayedWidget__link--active:after,
.progress-bar--is-active .progress-bar__fg,
.control-button--active-dot:after,
.RootlistItem--is-active:before,
.Rootlist__drop-indicator {
	background-color: #ffffff !important;
}

/* Responsive */
@media (max-width: 720px) {
	.Root__top-container {
		grid-template-columns: 75px calc(100% - 75px) !important;
	}

	.navBar-logo--size-large,
	.navbar-link__text,
	.UserWidget__user-link,
	.recently-played.navBar-group,
	.Rootlist__playlists {
		display: none !important;
	}

	.navBar-logo--size-small {
		display: block !important;
		padding-left: 0 !important;
	}

	.logo .spotify-logo {
    width: 100% !important;
  }

	.now-playing-bar {
		padding: 0 !important;
	}

	.navBar-item .download-icon {
		height: 25px !important;
		width: 25px !important;
	}
}

@media (min-width: 721px) {
	.Root__top-container {
		grid-template-columns: 200px calc(100% - 200px) !important;
	}

	.SearchInputBox {
		left: 200px !important;
	}

	.sessionInfo {
		padding: 0 !important;
		margin: 0 0 5px !important;
	}

	.UserWidget__container {
		padding: 8px 21px !important;
	}

	._4d7ff6840cca9e0da25e8df55e3a9475-scss {
		height: 200px !important;
	}

	._4d7ff6840cca9e0da25e8df55e3a9475-scss .cover-art {
		width: 200px !important;
		height: 200px !important;
	}
}

/* Hide album cover art when the now playing bar gets small */
@media (max-width: 835px) {
	.now-playing__widget-overlay {
		display: none !important;
	}
}

/* Centering artist header image */
[dir=ltr] header.artist-header {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

/* Centering tracklist buttons */
.tracklist-top-align {
	position: relative !important;
    top: 50% !important;
    -webkit-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    margin-top: 0 !important;
}

.tracklist-top-align.position {
    margin-top: 0 !important;
}


/* Adding pointers to things that are clickable */
.tracklist-play-pause,
.btn {
	cursor: pointer !important;
}

/* Moving play icon a little to the right*/
a.navBar-link.link-subtle.RecentlyPlayedWidget__link.active {
    padding-right: 16px !important;
}

/* New lil toast dudes are blue, lets make them white with black text */
div[role=alert] {
	background-color: #ffffff !important;
	color: #000000 !important;
}

/* Center headers */
._80e9295c4bd7a5a37b069da6ec674a8f-scss>:first-child {
    grid-column: 2/6 !important;
}

._09de7f5685fbf244f783483fedae7419-scss {
    text-align: center !important;
}

header.artist-header>* {
    text-align: center !important;
}

header.artist-header h1 {
		max-width: 100% !important;
}

/* Remove padding and backgrounds on cards */
._5658c6accf868644593ce36887a475b1-scss {
		background: none !important;
		padding: 5px 5px 4px !important;
}

/* Extend background gradient */
.af7ed65aa06ef3900474134b117200be-scss {
	background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.85) 100%) !important;
}

/* Playlist cards  play button centering */
._1de9257b60b3c93e84ea27e0f0862af8-scss {
    min-height: 52px !important;
}

/* Search icon in search field should stay it's og color */
svg.ded5a23eeb23e836ffb86a831d247eab-scss {
    color: #121212 !important;
}

/* Move the serarch results and whatever over to the left. Why is it not on the left... */
._80e9295c4bd7a5a37b069da6ec674a8f-scss>:first-child {
    grid-column: 1/-1 !important;
}

/*
TODOs
- Sample middle of gradient color for menus so they aren't just black
- Fill in thumbs up or thumbs down (probably only thumbs up)
  if we know we already thumbsed up it (or maybe if it's in your library?)
- Get search page to have a gray to black gradient
- Apply cursor to button types, but not if they contain the class "disabled"
*/
